.card-body.text-danger
  %h5.card-title Experience: one year
  %p.card-text Now I work as a full-time fullstack developer, therefore I know this language best. This portfolio has been fully programmed in rails. 
