.card-body.text-warning
  %h5.card-title Experience: school
  %p.card-text A lot of my programming basics have been learned in java. My first language I seriously started programming. I use it mostly now for programming my minecraft plugin.
