/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 *= require_tree .
 *= require_self
 *= require application.bootstrap
 */

 body {
  background-color: #212529;  /* Black background for the whole page */
  color: white;             /* White text color */
  height: 100vh;            /* Full height of the viewport */
  display: flex;            /* Use flexbox to center content */
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  margin: 0;                /* Remove default margin */
}

.card-header .nav-underline .rails {
  color: #dc3545;
}

.card-header .nav-underline .vue {
  color: #198754;
}

.card-header .nav-underline .java {
  color: #fd7e14;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 770px) {
  .card-custom-setting{
    width: 670px;
  }
}
